    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src="{{ asset('/images/logo/logo4.png') }}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="{{ path('app_homepage') }}">Home</a></li>
                            <li class="active"><a href="{{ path ('app_about') }}">about</a></li>
                            <li><a href="{{ path ('app_menu') }}">menu</a></li>
                            <li><a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Blog Home</a></li>
                                    <li><a href="#">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">contact</a></li>
                            <li><a href="#">Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <!-- Banner Area Starts -->
    <section class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <h6>Bienvenue en <span class="prime-color fw-bold"> Syrie</span></h6>
                    <h1>Découvrez la <span class="prime-color">saveur</span><br>
                    <span class="style-change">de la <span class="prime-color">food</span>Syrienne</span></h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Header Area End -->

